version: 2.1

orbs:
  android: circleci/android@3.1.0

jobs:
  run-unit-test:
    executor:
      name: android/android_machine
      tag: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-cache-v1-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}
            - gradle-cache-v1
      - run:
          name: Changing permission for gradlew
          command: chmod +x gradlew
      - run:
          name: Running gradlew dependencies
          command: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-cache-v1-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}
      - android/run_tests:
          test_command: ./gradlew testDebugUnitTest

workflows:
  build-and-test:
    jobs:
      - run-unit-test